# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor and IDE directories
.idea/
.vscode/
*.swp
*.swo

# ignore stray downloads at root
aa2a0ca4-04e7-46b4-9314-a9c5309cb251
